
#home section {
   margin-top: 100px;
   margin-bottom:100px;

}

#nav-logo{
    height:4rem;
}

.fontAwesome{
    color:black;
    padding: 20px;
}

.social{
    color: white;
    padding: 20px;
}

.footer-nav{
    color:white;
}